/***************************************************************************
// *                                                                       *
// * Blend Dark Mode (v2.0)                                                *
// * This file adds dark mode to the Blend admin theme                     *
// * Tested on WHMCS Version: 7.9.2 (7.9.2-release.1)                      *
// * Feel free to use and modify as you wish                               *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * Contributed by: WevrLabs Hosting                                      *
// * Email: hello@wevrlabs.net                                             *
// * Website: https://wevrlabs.net                                         *
// *                                                                       *
// *************************************************************************/


/*===================================================|
|----------------------------------------------------|
                        HEADER                       |
|----------------------------------------------------|
====================================================*/

.topbar {
    background-color: #232323 !important;
}
.topbar a {
    color: #696969 !important;
}
.topbar a:hover {
    color: #909090 !important;
}
.topbar .pull-left {
    color: #444 !important;
}
.header .stats a {
    color: #797979 !important;
}
#inputIntelliSearchValue {
    background: #333 !important;
    border-color: #484848 !important;
}


.header .stats .stat {
    font-weight: bold !important;
    color: #8e6e1b !important;
    font-size: 15px;
    line-height: 0px !important;
}
.header .stats {
    color: #737373 !important;
}


.search-bar .simple {
    background: #232323 !important;
    border-color: #3a3a3a !important;
}
.search-fields {
    border-color: #232323 !important;
}
.search-bar {
    background: #232323 !important;
}
.search-bar .search-icon {
    background: #326d32 !important;
    color: #a7a7a7 !important;
}



.admin-tabs li.active a {
    background: #1f1f1f !important;
}

.logo img {
    opacity: 0.8;
}

.contexthelp {
    border: 1px solid #989029 !important;
    background-color: #7f7f5b !important;
}
.contexthelp a {
    color: #000000 !important;
}


.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #25659c !important;
    border-color: #313131 !important;
}
.bootstrap-switch {
    border-color: #7d7d7d !important;
}

/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                      Main Nav                       |
|----------------------------------------------------|
====================================================*/

.nav-tabs {
    border-color: #2F2F2F !important;
}
ul.admin-tabs>li>a, ul.client-tabs>li>a {
    background-color: #2f2f2f!important;
    border-color: #2f2f2f!important;
}
ul.admin-tabs>li>a:hover, ul.client-tabs>li>a:hover {
    border-color: #2f2f2f !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #232323 !important;
}

.navigation {
    background-color: #000000 !important;
    border-color: #232323 !important;
}
.navigation ul li {
    background-color: #232323 !important;
    border-color: #000000 !important;
}
.navigation ul li a {
    color: #9e9e9e !important;
}
.navigation ul li:hover {
    background-color: #3a3a3a!important;
}
.navigation ul li ul li:hover a, .navigation ul li ul li:hover ul li:hover a, .navigation ul li:hover a {
    color: #bdbdbd !important;
}
.navigation ul li ul {
    background-color: #2f2f2f !important;
    border-color: #2f2f2f !important;
}
.navigation ul li ul li {
    background-color: #091527 !important;
    border-color: #3a3a3a !important;
}
.navigation ul li ul li:first-child {
    border-color: #3c3c3c !important;
}
.navigation ul li ul li a, .navigation ul li ul li:hover ul li a, .navigation ul li:hover ul li a {
    color: #949494 !important;
}


.navbar-default {
    background-color: #232323 !important;
    border-color: #3c3c3c !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #383838 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #383838 !important;
    border-color: #4e4e4e !important;
}
.nav-tabs>li>a:hover {
    border-color: #4e4e4e #4e4e4e #2f2f2f #4e4e4e!important;
}


/*===================================================================*/


/*===================================================|
|----------------------------------------------------|
                        General                      |
|----------------------------------------------------|
====================================================*/

body {
    color: #6f6f6f !important;
}

.contentarea {
    border-color: #232323 !important;
}

body, .header, .contentarea {
    background-color: #000000 !important;
}

.contentbox {
    background-color: #212121 !important;
    border-color: #2f2f2f !important;
}
.clientssummarybox {
    background-color: #212121 !important;
}
.client-summary-name {
    color: #a07400 !important;
    font-weight: 900 !important;
}

img {
    opacity: 0.6;
}

table.clientssummarystats {
    border-color: #2d2d2d !important;
}

table.clientssummarystats tbody tr td {
    padding: 5px 8px !important;
}

.clientsummaryactions {
    border-color: #212121 !important;
    background-color: #212121 !important;
}
#clientsummarycontainer .bulk-actions {
    background-color: #282828 !important;
}

.selectize-input {
    border-color: #313131 !important;
}
.selectize-control.single .selectize-input.input-active, .selectize-input {
    background: #1f1f1f !important;
}
.selectize-dropdown, .selectize-dropdown.form-control {
    background: #1f1f1f !important;
    border-color: #313131 !important;
}
.selectize-dropdown-content .selected.active {
    background: #1f1f1f !important;
}

.selectize-dropdown-content .selected.active span {
    color: #a9a9a9 !important;
}
.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #969696 !important;
}


select {
    background: #1f1f1f !important;
    border-color: #313131 !important;
}
.textblack {
    color: #9e6e00 !important;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: #313131 !important;
    border-color: #484848 !important;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #000000 !important;
    background-color: #6f6f6f !important;
    border-color: #616161 !important;
}


div.admin-tabs>.active, div.client-tabs>.active {
    border-color: #2f2f2f !important;
}


a {
    color: #859aa5 !important;
    text-decoration: none !important;
}
a:hover {
}

h1, h2, h3, h4, h5, h6 {
    color: #ababab !important;
    font-weight: bold !important;
}

#sidebar {
    background-color: #1b1b1b !important;
    border-color: #232323 !important;
}
#sidebar span.header {
    background-color: #1c1c1c !important;
    color: #4a4a4a !important;
}


.form-control {
    color: #6f6f6f !important;
    background-color: #1f1f1f !important;
    border-color: #313131 !important;
}

div.admin-tabs .context-btn-container, div.client-tabs .context-btn-container {
    background-color: #1f1f1f !important;
}
.selectize-input.full {
    background-color: #1f1f1f !important;
    border-color: #313131 !important;
    color: #969696 !important;
}


.dropdown-menu {
    background: #000000 !important;
}

.dropdown-menu>li>a:hover {
    background: #2f2f2f !important;
}


.popup-content-area {
    background: #282828 !important;
    border-color: #282828 !important;
}
.popup-content-area td, .popup-content-area table th, .popup-content-area table th {
    background: #fff !important;
}
.popup-content-area tr:hover td {
    background: #fff !important;
}
.popup-content-area h2 {
    color: #1b1b1b !important;
    font-weight: bold !important;
}




.module-queue-header {
    padding: 10px;
    font-weight: 700;
    border-top: 1px solid #353535 !important;
    border-bottom: 1px solid #353535 !important;
}
.module-queue .entry {
    background-color: #232323 !important;
    border-bottom: 1px solid #353535 !important;
}

.bordered {
    background-color: #232323 !important;
    border-color: #3a3a3a !important;
}
.bordered:hover {
    background: #000000 !important;
}


.footerbar {
    background-color: #000000 !important;
    color: #828282 !important;
}
.footerbar a {
    color: #888 !important;
}

/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                        TABLES                       |
|----------------------------------------------------|
====================================================*/

table th {
    background-color: #232323 !important;
    border-color: #2f2f2f !important;
}
table.datatable th, table.datatable th a, table.datatable th a:visited, table th {
    color: #848484 !important;
    text-decoration: none;
}
table th a {
    color: #6f6f6f !important;
    border-color: #2f2f2f !important;
}
table td {
    background-color: #272727 !important;
    border-color: #2f2f2f !important;
}
table tr:hover td {
    background: #2b2b2b !important;
    border-color: #424242 !important;
    /*border-bottom: 1px solid #424242 !important;*/
}


table.form {
    background-color: #1d1d1d !important;
    border-color: #2f2f2f !important;
}


tr.rowhighlight > td {
    background: #3a331e !important;
}

table td[style="background-color:#ffebeb"] {
    background: #562525 !important;
}


.tab-pane table tr:hover td {
    background: #2b2b2b !important;
    border-color: #424242 !important;
    /*border-bottom: none !important;*/
}


/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                        LABELS                       |
|----------------------------------------------------|
====================================================*/

.label-success {
    background-color: #407940 !important;
    color: #c3c3c3 !important;
}
.label-info {
    background: #2c849e !important;
}


.alert-info {
    color: #063248 !important;
    background-color: #6e8e9e !important;
    border-color: #6e8e9e !important;
}
.alert-danger {
    color: #afafaf !important;
    background-color: #8c4d4d !important;
    border-color: #651a1a !important;
}


td.status[data-filter-value="Pending"] {
    color: #a07400 !important;
}
td.status[data-filter-value="Active"] {
    color: #458e45 !important;
}
td.status[data-filter-value="Pending"] {
    color: #a07400 !important;
}
td.status[data-filter-value="Terminated"] {
    color: #b13737 !important;
}


a[style="color:#cc0000;"], a[style="color:#cc0000"] {
    color: #883333 !important;
}

a[style="color: #006633;"], a[style="color: #006633"], a[style="color:#006633"] {
    color: #006633 !important;
}



.bootstrap-switch .bootstrap-switch-label {
    background: #505050 !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #000 !important;
    background: #737373 !important;
}

/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                        REPORTS                      |
|----------------------------------------------------|
====================================================*/

rect {
    fill: #232323 !important;
}
text {
    fill: #696969 !important;
}
g rect {
    fill: #484848 !important;
}

.report-filters-wrapper {
    background: #232323 !important;
    border-color: #343434 !important;
}

div[aria-label="A chart."] text {
    fill: #c5c5c5 !important;
}

/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                    Date Picker                      |
|----------------------------------------------------|
====================================================*/

.daterangepicker {
    background: #252d3c !important;
    border-color: #383f4e !important;
}
.daterangepicker.show-ranges.ltr .drp-calendar.left, .daterangepicker.show-ranges.ltr .drp-calendar.right {
    border-color: #383f4e !important;
    background: inherit !important;
}
.calendar-table {
    background: #252d3c !important;
    border-color: #393f4e !important;
}
.drp-buttons {
    border-color: #393f4e !important;
}
.daterangepicker td.off, .daterangepicker td.off.end-date, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date {
    background-color: #313131 !important;
    border-color: transparent !important;
    color: #999;
}
.daterangepicker td.in-range {
    background-color: #73848c !important;
    border-color: transparent !important;
    color: #000;
    border-radius: 0;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #44627b !important;
    border-color: transparent !important;
    color: #fff;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #bfbfbf !important;
    border-color: transparent !important;
    color: inherit;
}


/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                        Tickets                      |
|----------------------------------------------------|
====================================================*/

.ticketlastreply {
    color: #5f8653 !important;
    font-weight: 600;
}

.md-editor {
    border-color: #383838 !important;
}
.md-editor>textarea {
    background: #252525 !important;
    border-color: #484848 !important;
}
.md-header.btn-toolbar, .md-footer {
    background: #000 !important;
}
.ticket-reply-submit-options, .ticket-reply-edit-options {
    background-color: #232323 !important;
}
.ticket-reply-submit-options .inner-container {
    background-color: #232323 !important;
    border-color: #3e3e3e !important;
}
#prerepliescontainer #predefq, .predefined-replies-search input {
    border-color: #3e3e3e !important;
    background: #1f1f1f !important;
}

#ticketreplies .reply {
    box-shadow: 0 0 5px #333 !important;
}
#ticketreplies .reply .rightcol {
    border-color: #1c222d !important;
}
#ticketreplies .postedon {
    border-bottom: 1px solid #1d232e !important;
    padding: 10px 20px !important;
}

#ticketreplies .reply.staff {
    border-color: #303f4c !important;
    background-color: #242f31 !important;
}
#ticketreplies .reply.staff hr {
    border-color: #29393e !important;
}

#ticketreplies .message {
    color: #867f69 !important;
}
#ticketreplies .reply {
    background: #171717 !important;
    border-color: #27272a !important;
}
#ticketreplies .reply hr {
    border-color: #272d22 !important;
}

div#ticketreplies img {
    opacity: 1 !important;
}
.lb-container img {
    opacity: 1 !important;
}

.postedon {
    border-bottom: 1px solid #272727 !important;
}

/*========================================================*/


/*===================================================|
|----------------------------------------------------|
                     Dash Panels                     |
|----------------------------------------------------|
====================================================*/

.dashboard-panel-item .panel-body {
    border-color: #444344 !important;
    background: #232323 !important;
}
.dashboard-panel-item .panel-heading {
    background-color: #2f2f2f !important;
}
.dashboard-panel-item .panel-heading .panel-title, .dashboard-panel-item .panel-heading .panel-title .widget-tools {
    color: #797979 !important;
}


.widget-clientactivity .clients-list {
    margin: 0 10px 20px 10px !important;
}


.widget-clientactivity .client:nth-child(even) {
    background-color: #2f2f2f !important;
}
.widget-clientactivity .ip-address {
    color: #496c6d !important;
}

.to-do-items .item {
    background-color: #2f2f2f !important;
    margin: 0 0 10px 0 !important;
    padding: 0 10px 10px 10px !important;
    border: 1px solid #3c3c3c !important;
}
.widget-content-padded.to-do-items {
    padding: 15px 10px !important;
}
.widget-content-padded.to-do-items .icheckbox_flat-blue {
    background: #545454 !important;
    border-radius: 100% !important;
}
.to-do-items .due {
    display: block !important;
    float: none !important;
}
.to-do-items label {
    display: block;
    margin: 5px 0;
}
.to-do-items i {
    display: none !important;
}


.progress-bar-success {
    background-color: rgb(64, 101, 64) !important;
}


.widget-automation .col-sm-6, .widget-billing .bordered-right, .widget-activity .feed-element {
    border-color:#3c3c3c !important;
}
.widget-billing .bordered-top {
    border-color: #3c3c3c !important;
}
.widget-billing .bordered-right {
    border-color: #3c3c3c !important;
}
.widget-billing .bordered-left {
    border-color: #3c3c3c !important;
}

.widget-paypaloverview .panel-body div {
    background: #232323 !important;
    color: #47985c !important;
}

polygon {
    fill: rgb(50, 51, 49) !important;
}


.panel-primary>.panel-heading {
    color: #adadad !important;
}
.panel-body {
    background: #1f1f1f !important;
}
.panel-footer, .panel-heading {
    background: #272727 !important;
    border-color: #333333 !important;
}

.auth-container {
    background: #2b2b2b !important;
    border-color: #464646 !important;
    border-radius: 5px !important;
}


.panel-market-item .logo {
    background-color: #313131 !important;
    border-radius: 10px !important;
}
.panel-market-item {
    border-color: #383838 !important;
    background-color: #1f1f1f !important;
}
.tour-marketconnect {
    background-color: #2e3c22 !important;
}
.tour-marketconnect .popover-title {
    padding-top: 10px !important;
    background-color: #3c502d !important;
}
.popover-content {
    color: #8a8a8a !important;
}
.popover.right>.arrow:after {
    border-right-color: #2e3c23 !important;
}
.popover[class*=tour-] .popover-navigation [data-role=end], .popover[class*=tour-] .popover-navigation [data-role=next], .popover[class*=tour-] .popover-navigation [data-role=prev] {
    background: #192312 !important;
}


/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                    Dash Top Cards                   |
|----------------------------------------------------|
====================================================*/

.status-badge-green {
    background-color: #528854 !important;
}
.status-badge-green .icon {
    background-color: #3e6f40 !important;
}
.status-badge-pink {
    background-color: #c14d7f !important;
}
.status-badge-pink .icon {
    background-color: #a53465 !important;
}
.status-badge-orange .icon {
    background-color: #a26e1f !important;
}
.status-badge-orange {
    background-color: #bd8530 !important;
}
.status-badge-cyan {
    background-color: #63abaf !important;
}
.status-badge-cyan .icon {
    background-color: #519194 !important;
}
.health-status-block .detail a, .health-status-block .detail a:hover, .health-status-block .icon a, .health-status-block .icon a:hover {
    color: #cecece !important;
}

/*=============================================================*/


/*===================================================|
|----------------------------------------------------|
                        Buttoons                     |
|----------------------------------------------------|
====================================================*/

.btn-default {
    color: #909090 !important;
    background-color: #313131 !important;
    border-color: #383838 !important;
}
.btn-default:hover {
    color: #5d5d5d !important;
    background-color: #292929 !important;
    border-color: #3e3e3e !important;
}
.btn-period-chooser .btn.active {
    color: #040404 !important;
    border-color: #808080 !important;
    background: #5d5d5d !important;
}

.btn-success {
    color: #d2d2d2 !important;
    background-color: #2f712f !important;
    border-color: #257525 !important;
}
.btn-success:hover {
    color: #bbbbbb !important;
    background-color: #1d4e1d !important;
    border-color: #256525 !important;
}
.btn-danger {
    color: #d2d2d2 !important;
    background-color: #a22522 !important;
    border-color: #9a1d19 !important;
}
.btn-danger:hover {
    /* color: #fff !important; */
    background-color: #802320 !important;
    border-color: #61211f !important;
}

.btn-info {
    color: #cacaca !important;
    background-color: #284d6d !important;
    border-color: #213f48 !important;
}
.btn-info:hover {
    color: #cecece !important;
    background-color: #284d6d !important;
    border-color: #356f7f !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: .3 !important;
    border-color: #4c4c4c !important;
}

.close {
    color: #fff !important;
}

button#btnStatusEnabled {
    background: #1b4d80 !important;
    color: #c5c5c5;
}
button#btnStatusEnabled:hover {
    background: #133e69 !important;
}


.btn.btn-sm.btn-block.top-margin-5 {
    background: #307d48 !important;
    color: #ddd !important;
}
.btn.btn-sm.btn-block.top-margin-5:hover {
    background: #27653a !important;
}


div#modcmdbtns .btn {
    background: #525039 !important;
    border-color: #6b6733 !important;
    color: #a59d63 !important;
}
div#modcmdbtns .btn:hover {
    background: #4a482c !important;
}

/*=============================================================*/
