/***************************************************************************
// *                                                                       *
// * Blend Dark Mode                                                       *
// *                                                                       *
// * This is the custom CSS file to add your own CSS customizations for    *
// * the Blend admin theme                                                 *
// *                                                                       *
// * Rename the file to custom.css in order for changes to take effect     *
// *                                                                       *
// * https://github.com/WevrLabs-Group/WHMCS-Blend-Admin-Theme-Dark-Mode   *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * Maintained by: WevrLabs Hosting                                       *
// * Email: hello@wevrlabs.net                                             *
// * Website: https://wevrlabs.net                                         *
// *                                                                       *
// *************************************************************************/
