/***************************************************************************
// *                                                                       *
// * Blend Dark Mode                                                       *
// * This addon adds dark mode to the Blend admin theme                    *
// * Compatible with WHMCS Version: 8.x                                    *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * Contributed by: WevrLabs Hosting                                      *
// * Email: hello@wevrlabs.net                                             *
// * Website: https://wevrlabs.net                                         *
// *                                                                       *
// *************************************************************************
// *                                                                       *
// * 8.x css updates Contributed by: Daniel M. Reck at forzandoArts        *
// * Website: https://forzando.art/digital                                 *
// *                                                                       *
// *************************************************************************/

/*===================================================|
|----------------------------------------------------|
                        General                      |
|----------------------------------------------------|
====================================================*/

body {
    color: #6f6f6f !important;
}

.contentarea {
    border-color: #232323 !important;
}

body,
.header,
.contentarea {
    background-color: #000000 !important;
}

hr {
    border-color: #3c3c3c !important;
}

.contentbox {
    background-color: #212121 !important;
    border-color: #2f2f2f !important;
}
.clientssummarybox {
    background-color: #212121 !important;
}
.client-summary-name {
    color: #a07400 !important;
    font-weight: 900 !important;
}
ul.admin-tabs > li > a:first-child,
ul.client-tabs > li > a:first-child {
    margin-left: 0 !important;
    margin-right: 8px !important;
}
.client-tabs > li.active > a,
.client-tabs > li.active > a:focus,
.client-tabs > li.active > a:hover,
.admin-tabs > li.active > a,
.admin-tabs > li.active > a:focus,
.admin-tabs > li.active > a:hover {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
    color: #fff !important;
}
#clientsummarycontainer #statusfilter {
    background: #272727 !important;
    border-color: #2f2f2f !important;
}
#clientsummarycontainer #statusfilter th {
    background: transparent !important;
}

img {
    opacity: 1;
}

table.clientssummarystats {
    border-color: #2d2d2d !important;
}

table.clientssummarystats tbody tr td {
    padding: 5px 8px !important;
}

.table-themed {
    border: 1px solid #555 !important;
}

.clientsummaryactions {
    border-color: #212121 !important;
    background-color: #212121 !important;
}
#clientsummarycontainer .bulk-actions {
    background-color: #282828 !important;
}

.selectize-input {
    border-color: #313131 !important;
}
.selectize-control.single .selectize-input.input-active,
.selectize-input {
    background: #1f1f1f !important;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
    background: #1f1f1f !important;
    border-color: #313131 !important;
}
.selectize-dropdown-content .selected.active {
    background: #1f1f1f !important;
}

.selectize-dropdown-content .selected.active span {
    color: #a9a9a9 !important;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #969696 !important;
}

.divider {
    background-color: #303030 !important;
}

select {
    background: #1f1f1f !important;
    border-color: #313131 !important;
}
.textblack {
    color: #9e6e00 !important;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    background-color: #313131 !important;
    border-color: #484848 !important;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #000000 !important;
    background-color: #6f6f6f !important;
    border-color: #616161 !important;
}

div.admin-tabs > .active,
div.client-tabs > .active {
    border-color: #2f2f2f !important;
}

a {
    color: #859aa5 !important;
    text-decoration: none !important;
}
a:hover {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ababab !important;
    font-weight: bold !important;
    margin: 0 0 5px 0 !important;
}

#sidebar {
    background-color: #1b1b1b !important;
    border-color: #232323 !important;
}
#sidebar span.header {
    background-color: #1c1c1c !important;
    color: #4a4a4a !important;
}
.sidebar .sidebar-header {
    color: #aaa !important;
}

.form-control {
    color: #6f6f6f !important;
    background-color: #1f1f1f !important;
    border-color: #313131 !important;
}

.inset-grey-bg {
    background-color: #070707 !important;
}

.well {
    background-color: #0a0a0a !important;
    border: 1px solid #1d1d1d !important;
}

.panel {
    background-color: #000 !important;
}

.panel-default {
    border-color: #444 !important;
}

.input-group-addon {
    background-color: #111;
    border-color: #333;
}

div.admin-tabs .context-btn-container,
div.client-tabs .context-btn-container {
    background-color: #1f1f1f !important;
}
.selectize-input.full {
    background-color: #1f1f1f !important;
    border-color: #313131 !important;
    color: #969696 !important;
}

.dropdown-menu {
    background: #000000 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #2f2f2f !important;
}

.popup-content-area {
    background: #282828 !important;
    border-color: #282828 !important;
}
.popup-content-area td,
.popup-content-area table th,
.popup-content-area table th {
    background: #fff !important;
}
.popup-content-area tr:hover td {
    background: #fff !important;
}
.popup-content-area h2 {
    color: #1b1b1b !important;
    font-weight: bold !important;
}

.module-queue-header {
    padding: 10px;
    font-weight: 700;
    border-top: 1px solid #353535 !important;
    border-bottom: 1px solid #353535 !important;
}
.module-queue .entry {
    background-color: #232323 !important;
    border-bottom: 1px solid #353535 !important;
}

.bordered {
    background-color: #232323 !important;
    border-color: #3a3a3a !important;
}
.bordered:hover {
    background: #000000 !important;
}

div#mergefields td {
    color: #9393a0 !important;
}
div#mergefields a:hover {
    text-decoration: underline !important;
}

.apps-and-integrations .app-wrapper .app .app-inner {
    background: #1f1f1f !important;
    border-color: #4b4b4b !important;
}
.apps-and-integrations .aai-primary-nav a {
    background-color: #313131 !important;
    color: #ddd !important;
    border-color: #313131 !important;
}
.app-info-modal .app-info-sidebar {
    background: #2c2c2c !important;
}

.footerbar {
    background-color: #000000 !important;
    color: #828282 !important;
}
.footerbar a {
    color: #888 !important;
}

.tld-import-step .tld-pricing > .local-pricing {
    color: #4da54d;
}
.tld-import-step .tld-margin {
    color: #ceb244;
    border-color: #3c3c3c;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                        HEADER                       |
|----------------------------------------------------|
====================================================*/

.topbar,
.sidebar .btn-min-sidebar {
    background-color: #232323 !important;
}
.topbar a {
    color: #696969 !important;
}
.topbar a:hover {
    color: #909090 !important;
}
.navigation ul li a:hover {
    background: #1b4d7f !important;
    color: #ffffff !important;
}
.topbar .pull-left {
    color: #444 !important;
}
.header .stats a {
    color: #797979 !important;
}
#inputIntelliSearchValue {
    background: #333 !important;
    border-color: #484848 !important;
}

.header .stats .stat {
    font-weight: bold !important;
    color: #8e6e1b !important;
    font-size: 15px;
    line-height: 0px !important;
}
.header .stats {
    color: #737373 !important;
}
.v8fallbackul span.ico-container {
    font-size: 3em !important;
}
span.v8fallback {
    color: #cc7d0e;
    display: block;
    font-size: 20px;
}

.search-bar .simple {
    background: #232323 !important;
    border-color: #3a3a3a !important;
}
.search-fields {
    border-color: #232323 !important;
}
.search-bar {
    background: #232323 !important;
}
.search-bar .search-icon {
    background: #326d32 !important;
    color: #a7a7a7 !important;
}

.admin-tabs li.active a {
    background: #1f1f1f !important;
}

.logo img {
    opacity: 1;
}

.contexthelp {
    border: 1px solid #989029 !important;
    background-color: #7f7f5b !important;
}
.contexthelp a {
    color: #000000 !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #25659c !important;
    border-color: #313131 !important;
}
.bootstrap-switch {
    border-color: #7d7d7d !important;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                      Main Nav                       |
|----------------------------------------------------|
====================================================*/

.nav-tabs {
    border-color: #2f2f2f !important;
}
ul.admin-tabs > li > a,
ul.client-tabs > li > a {
    background-color: #2f2f2f !important;
    border-color: #2f2f2f !important;
}
ul.admin-tabs > li > a:hover,
ul.client-tabs > li > a:hover {
    border-color: #2f2f2f !important;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #232323 !important;
}

.navigation {
    background-color: #232323 !important;
    border-color: #232323 !important;
}
.navigation ul li {
    background-color: #232323 !important;
    border-color: #000000 !important;
}
.navigation ul li a {
    color: #9e9e9e !important;
}
.navigation ul li ul li:hover a,
.navigation ul li ul li:hover ul li:hover a,
.navigation ul li:hover a {
    color: #bdbdbd !important;
}
.navigation ul li ul {
    background-color: #2f2f2f !important;
    border-color: #2f2f2f !important;
}
.navigation ul li ul li {
    border-color: #3a3a3a !important;
}
.navigation ul li ul li:first-child {
    border-color: #3c3c3c !important;
}
.navigation ul li ul li a,
.navigation ul li ul li:hover ul li a,
.navigation ul li:hover ul li a {
    /*color: #949494 !important;*/
}
.navigation ul li ul.drop-icons li a .ico-container i {
    display: inline-block;
    width: auto;
    color: #5795d2 !important;
}
.navigation ul li.divider {
    background-color: #3a3a3a !important;
    margin: 0 !important;
}

.navigation ul li ul.drop-icons li a:hover,
.drop-icons .navigation ul li:hover {
    background-color: #111 !important;
}

.navbar-default {
    background-color: #232323 !important;
    border-color: #3c3c3c !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #383838 !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #383838 !important;
    border-color: #4e4e4e !important;
}
.nav-tabs > li > a:hover {
    border-color: #4e4e4e #4e4e4e #2f2f2f #4e4e4e !important;
}

/*===============================================================================*/

/*===================================================|
|----------------------------------------------------|
                        TABLES                       |
|----------------------------------------------------|
====================================================*/

table th,
.table-bordered {
    background-color: #232323 !important;
    border-color: #3c3c3c !important;
}
table.datatable th,
table.datatable th a,
table.datatable th a:visited,
table th {
    color: #848484 !important;
    text-decoration: none;
}
table th a {
    color: #6f6f6f !important;
    border-color: #2f2f2f !important;
}
table td {
    background-color: #272727 !important;
    border-color: #2f2f2f !important;
}
table tr:hover td {
    background: #2b2b2b !important;
    border-color: #424242 !important;
    /*border-bottom: 1px solid #424242 !important;*/
}

table.form {
    background-color: #1d1d1d !important;
    border-color: #2f2f2f !important;
}

tr.rowhighlight > td {
    background: #3a331e !important;
}

table td[style="background-color:#ffebeb"] {
    background: #562525 !important;
}

.tab-pane table tr:hover td {
    background: #2b2b2b !important;
    border-color: #424242 !important;
    /*border-bottom: none !important;*/
}

.invoicetooltip {
    border: 1px solid #505050 !important;
    background-color: #505050 !important;
    padding: 5px !important;
    border-radius: 7px !important;
}
.invoicetooltip tr td {
    color: #989770 !important;
    border: 1px solid #3c3c3c !important;
    padding: 3px 10px !important;
    background: #23272b !important;
}

div#previewwndcontent table tbody td,
div#previewwndcontent table tbody th {
    background: #fff !important;
}
div#previewwndcontent img {
    opacity: 1 !important;
}

.table-serversync tr.matched:not(.dupe) span {
    background-color: #40ce3c;
    color: #000;
}
.table-serversync tr.matched span.e {
    background-color: #ed4f57;
}

.dataTables_wrapper.no-footer div {
    border-color: #333 !important;
    background: transparent !important;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                        LABELS                       |
|----------------------------------------------------|
====================================================*/

.label-success {
    background-color: #407940 !important;
    color: #c3c3c3 !important;
}
.label-info {
    background: #2c849e !important;
}
.label-warning {
    background-color: #a2722d !important;
}
.label-default {
    background: #565656 !important;
    color: #ddd !important;
}

.alert-info {
    color: #063248 !important;
    background-color: #6e8e9e !important;
    border-color: #6e8e9e !important;
}
.alert-danger {
    color: #afafaf !important;
    background-color: #8c4d4d !important;
    border-color: #651a1a !important;
}
.alert-warning {
    color: #fff !important;
    background-color: #a2722d !important;
    border-color: #bd8530 !important;
}

td.status[data-filter-value="Pending"] {
    color: #a07400 !important;
}
td.status[data-filter-value="Active"] {
    color: #458e45 !important;
}
td.status[data-filter-value="Pending"] {
    color: #a07400 !important;
}
td.status[data-filter-value="Terminated"] {
    color: #b13737 !important;
}

a[style="color:#cc0000;"],
a[style="color:#cc0000"] {
    color: #883333 !important;
}

a[style="color: #006633;"],
a[style="color: #006633"],
a[style="color:#006633"] {
    color: #006633 !important;
}

.bootstrap-switch .bootstrap-switch-label {
    background: #505050 !important;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #000 !important;
    background: #737373 !important;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                        REPORTS                      |
|----------------------------------------------------|
====================================================*/

rect {
    fill: #232323 !important;
}
text {
    fill: #696969 !important;
}
g rect {
    fill: #484848 !important;
}

.report-filters-wrapper {
    background: #232323 !important;
    border-color: #343434 !important;
}

div[aria-label="A chart."] text {
    fill: #c5c5c5 !important;
}

.transactions-header {
    background-color: #232323 !important;
}
.transactions-header .stat .icon {
    background-color: #454545 !important;
}
.transactions-header .stat {
    color: #727272 !important;
}
.transactions-header .stat span {
    color: #b4b4b4 !important;
}
.balance-hr {
    border-color: #454545 !important;
}
.balance-panel {
    background: #313131 !important;
    border-color: #454545 !important;
}
.balance-panel-body span {
    color: #a5a5a5 !important;
}
.balance-panel-body span.balance-amount {
    color: #5dc560 !important;
}
/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                    Date Picker                      |
|----------------------------------------------------|
====================================================*/

.daterangepicker {
    background: #252d3c !important;
    border-color: #383f4e !important;
}
.daterangepicker.show-ranges.ltr .drp-calendar.left,
.daterangepicker.show-ranges.ltr .drp-calendar.right {
    border-color: #383f4e !important;
    background: inherit !important;
}
.calendar-table {
    background: #252d3c !important;
    border-color: #393f4e !important;
}
.drp-buttons {
    border-color: #393f4e !important;
}
.daterangepicker td.off,
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date {
    background-color: #313131 !important;
    border-color: transparent !important;
    color: #999;
}
.daterangepicker td.in-range {
    background-color: #73848c !important;
    border-color: transparent !important;
    color: #000;
    border-radius: 0;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #44627b !important;
    border-color: transparent !important;
    color: #fff;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #bfbfbf !important;
    border-color: transparent !important;
    color: inherit;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                        Tickets                      |
|----------------------------------------------------|
====================================================*/

.requestor-type-operator {
    background-color: #045380;
}
.requestor-type-owner {
    background-color: #0c6a0c;
}
.ticketlastreply {
    color: #5f8653 !important;
    font-weight: 600;
}

.md-editor {
    border-color: #383838 !important;
}
.md-editor > textarea {
    background: #252525 !important;
    border-color: #484848 !important;
}
.md-header.btn-toolbar,
.md-footer {
    background: #000 !important;
}
.ticket-reply-submit-options,
.ticket-reply-edit-options {
    background-color: #232323 !important;
}
.ticket-reply-submit-options .inner-container {
    background-color: #232323 !important;
    border-color: #3e3e3e !important;
}
#prerepliescontainer #predefq,
.predefined-replies-search input {
    border-color: #3e3e3e !important;
    background: #1f1f1f !important;
}

#ticketreplies .reply {
    box-shadow: 0 0 5px #333 !important;
}
#ticketreplies .reply .rightcol {
    border-color: #1c222d !important;
}
#ticketreplies .postedon {
    border-bottom: 1px solid #1d232e !important;
    padding: 10px 20px !important;
}

#ticketreplies .reply.staff {
    border-color: #303f4c !important;
    background-color: #242f31 !important;
}
#ticketreplies .reply.staff hr {
    border-color: #29393e !important;
}

#ticketreplies .message p,
#ticketreplies .message {
    color: #867f69 !important;
    text-align: start !important;
    unicode-bidi: plaintext !important;
}
#ticketreplies .reply {
    background: #171717 !important;
    border-color: #27272a !important;
}
#ticketreplies .reply hr {
    border-color: #272d22 !important;
}
#ticketreplies .ticketcontextlinks {
    padding: 5px 10px 0 !important;
}
div#ticketreplies img {
    opacity: 1 !important;
}
.lb-container img {
    opacity: 1 !important;
}

.postedon {
    border-bottom: 1px solid #272727 !important;
}

blockquote {
    border-left: 5px solid #424242;
}
blockquote p {
    color: #797979;
}

/*====================================================================*/

/*===================================================|
|----------------------------------------------------|
               Automation Status                     |
|----------------------------------------------------|
====================================================*/

.automation-status .widget {
    border: 1px solid #444 !important;
}

.automation-status .widget .info-container {
    background: #000 !important;
}

.automation-status .graph-container {
    background-color: #999 !important;
}

.automation-status .calendar-container {
    background-color: #070707 !important;
}

/*====================================================================*/

/*===================================================|
|----------------------------------------------------|
                 System Settings                     |
|----------------------------------------------------|
====================================================*/

.setup-links .link {
    background-color: #070707 !important;
    border: 1px solid #444 !important;
}

.setup-links .link:hover {
    background-color: #000 !important;
}

.apps-and-integrations .app-wrapper,
.notification-providers,
.inset-element-container {
    background-color: #000 !important;
}

.apps-and-integrations .app-wrapper .app.featured .app-inner,
.signin-apps-container .app,
.partner-box,
.spotlight-tlds {
    background-color: #070707 !important;
    border: 1px solid #444 !important;
}

.partner-box-blue {
    background-color: #1a4d80 !important;
}

.notification-providers .provider,
div.partner-logo,
.spotlight-tlds span {
    background-color: #070707 !important;
    border: 1px solid #222 !important;
}

/*========================================================*/

/*===================================================|
|----------------------------------------------------|
                     Dash Panels                     |
|----------------------------------------------------|
====================================================*/

.dashboard-panel-item .panel-body {
    border-color: #444344 !important;
    background: #232323 !important;
}
.dashboard-panel-item .panel-heading {
    background-color: #2f2f2f !important;
}
.dashboard-panel-item .panel-heading .panel-title,
.dashboard-panel-item .panel-heading .panel-title .widget-tools {
    color: #797979 !important;
}

.widget-clientactivity .clients-list {
    margin: 0 10px 20px 10px !important;
}

.widget-clientactivity .client:nth-child(even) {
    background-color: #2f2f2f !important;
}
.widget-clientactivity .ip-address {
    color: #496c6d !important;
}

.widget-settings li.active {
    background-color: #070707 !important;
}

.to-do-items .item {
    background-color: #2f2f2f !important;
    margin: 0 0 10px 0 !important;
    padding: 0 10px 10px 10px !important;
    border: 1px solid #3c3c3c !important;
}
.widget-content-padded.to-do-items {
    padding: 15px 10px !important;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
}
.widget-content-padded.to-do-items .icheckbox_flat-blue {
    background: #545454 !important;
    border-radius: 100% !important;
}
.to-do-items .due {
    display: block !important;
    float: none !important;
}
/*.to-do-items label {*/
/*    display: block;*/
/*    margin: 5px 0;*/
/*}*/
.to-do-items i {
    /*display: none !important;*/
}

.progress-bar-success {
    background-color: rgb(64, 101, 64) !important;
}

.widget-automation .col-sm-6,
.widget-billing .bordered-right,
.widget-activity .feed-element {
    border-color: #3c3c3c !important;
}
.widget-billing .bordered-top {
    border-color: #3c3c3c !important;
}
.widget-billing .bordered-right {
    border-color: #3c3c3c !important;
}
.widget-billing .bordered-left {
    border-color: #3c3c3c !important;
}

.widget-paypaloverview .panel-body div {
    background: #232323 !important;
    color: #47985c !important;
}

polygon {
    fill: rgb(50, 51, 49) !important;
}

.panel-primary > .panel-heading {
    color: #adadad !important;
}
.panel-default > .panel-heading {
    color: #a6a6a6 !important;
}
.panel-body {
    background: #1f1f1f !important;
}
.panel-footer,
.panel-heading {
    background: #272727 !important;
    border-color: #333333 !important;
}

.auth-container {
    background: #2b2b2b !important;
    border-color: #464646 !important;
    border-radius: 5px !important;
}

.panel-market-item .logo {
    background-color: #313131 !important;
    border-radius: 10px !important;
}
.panel-market-item {
    border-color: #383838 !important;
    background-color: #1f1f1f !important;
}
.tour-marketconnect {
    background-color: #2e3c22 !important;
}
.tour-marketconnect .popover-title {
    padding-top: 10px !important;
    background-color: #3c502d !important;
}
.popover-content {
    color: #8a8a8a !important;
}
.popover.right > .arrow:after {
    border-right-color: #2e3c23 !important;
}
.popover[class*="tour-"] .popover-navigation [data-role="end"],
.popover[class*="tour-"] .popover-navigation [data-role="next"],
.popover[class*="tour-"] .popover-navigation [data-role="prev"] {
    background: #192312 !important;
}
.widget-support .footer {
    border-color: #444344 !important;
}
.widget-support .tickets-list .ticket:nth-child(even) {
    background-color: #2f2f2f;
}
/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                    Dash Top Cards                   |
|----------------------------------------------------|
====================================================*/

.status-badge-green {
    background-color: #528854 !important;
}
.status-badge-green .icon {
    background-color: #3e6f40 !important;
}
.status-badge-pink {
    background-color: #c14d7f !important;
}
.status-badge-pink .icon {
    background-color: #a53465 !important;
}
.status-badge-orange .icon {
    background-color: #a26e1f !important;
}
.status-badge-orange {
    background-color: #bd8530 !important;
}
.status-badge-cyan {
    background-color: #63abaf !important;
}
.status-badge-cyan .icon {
    background-color: #519194 !important;
}
.health-status-block .detail a,
.health-status-block .detail a:hover,
.health-status-block .icon a,
.health-status-block .icon a:hover {
    color: #cecece !important;
}

/*=========================================================================*/

/*===================================================|
|----------------------------------------------------|
                      Buttoons                       |
|----------------------------------------------------|
====================================================*/
.btn {
    margin-bottom: 10px !important;
}
.btn-default {
    opacity: 0.6 !important;
    border-color: #4c4c4c !important;
    color: #fff !important;
    background: #595959;
}
.btn-default:hover,
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover,
.btn-default.focus,
.btn-default:focus {
    color: #ffffff !important;
    background-color: #3c3c3c !important;
    border-color: #3e3e3e !important;
}
.btn-period-chooser .btn.active {
    color: #040404 !important;
    border-color: #808080 !important;
    background: #5d5d5d !important;
}
.btn-primary {
    color: #ddd !important;
}
.btn-success {
    color: #d2d2d2 !important;
    background-color: #2f712f !important;
    border-color: #257525 !important;
}
.btn-success:hover {
    color: #bbbbbb !important;
    background-color: #1d4e1d !important;
    border-color: #256525 !important;
}
.btn-danger {
    color: #d2d2d2 !important;
    background-color: #a22522 !important;
    border-color: #9a1d19 !important;
}
.btn-danger:hover {
    /* color: #fff !important; */
    background-color: #802320 !important;
    border-color: #61211f !important;
}

.btn-info {
    color: #cacaca !important;
    background-color: #284d6d !important;
    border-color: #213f48 !important;
}
.btn-info:hover {
    color: #cecece !important;
    background-color: #284d6d !important;
    border-color: #356f7f !important;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    color: #909090 !important;
    background-color: #313131 !important;
    border-color: #383838 !important;
}
.close {
    color: #fff !important;
}

button#btnStatusEnabled {
    background: #1b4d80 !important;
    color: #c5c5c5;
}
button#btnStatusEnabled:hover {
    background: #133e69 !important;
}

.btn.btn-sm.btn-block.top-margin-5 {
    background: #307d48 !important;
    color: #ddd !important;
    border-color: #307d48 !important;
}
.btn.btn-sm.btn-block.top-margin-5:hover {
    background: #27653a !important;
}

div#modcmdbtns .btn {
    background: #525039 !important;
    border-color: #6b6733 !important;
    color: #a59d63 !important;
}
div#modcmdbtns .btn:hover {
    background: #4a482c !important;
}

.pager .disabled > a,
.pager .disabled > a:focus,
.pager .disabled > a:hover,
.pager .disabled > span {
    color: #888 !important;
    background-color: #000 !important;
    border: 1px solid #888 !important;
}

/*=========================================================================*/

.system-settings-index a.setting {
	background-color: #000
}

.contentarea.theme-content-bg .theme-header {
	background-color: #000
}
